# Google Gemini API Key (obligatoire)
GEMINI_API_KEY=

# OpenWeatherMap API Key (gratuite sur openweathermap.org)
OPENWEATHER_API_KEY=

# Ports des agents
WEATHER_AGENT_PORT=4000
TRANSLATOR_AGENT_PORT=4001
TRAVEL_PLANNER_AGENT_PORT=4002
WEB_SEARCH_AGENT_PORT=4003
CALCULATOR_AGENT_PORT=4004

# Brave Search API (Pas obligatoire)
BRAVE_SEARCH_API_KEY=

# To debug
USE_MOCK_DATA=true
